*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
}

#page1{
    height: 100vh;
    width: 100vw;
    background-color:blue ;
    position:relative ;
    
}
#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1>nav{
    display: flex;
    position: absolute;
    height: 10vh;
    width:100vw;
    
    justify-content: space-between;
    align-items: center;
    padding: 60px 150px;
}
#right-nav>button{
    background-color:#0b48eD;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
.bottom_page-1{
    position: absolute;
    bottom: 20% ;
    left:2%;
    font-size: 2vw;
    height:40vh;
    width: 50vw;
    color: white;
}
.bottom_page-1_inner{
    
    bottom: 0%;
    height: 50%;
    width: 100%;
    position: absolute;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.bottom_page-1_inner>button{
    border: none;
    border-radius: 50px;
    background-color: white;
    color: #0b48eD;
    padding: 10px 20px;
    width: 200px; 
}